@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.eot");
  src: local("../fonts/Gotham Pro Light"), local("../fonts/GothamPro-Light"), url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.eot");
  src: local("../fonts/Gotham Pro"), local("../fonts/GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("../fonts/Gotham Pro Bold"), local("../fonts/GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Gotham Pro", sans-serif;
  background-color: #FFFFFF;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
button,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}
@media screen and (min-width: 373px) {
  .container {
    width: 373px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 767px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.416;
  text-transform: uppercase;
  color: #292C31;
}
.title--accent {
  color: #16C7E4;
}
@media screen and (min-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 1.388;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 44px;
  background-color: #16C7E4;
  border-radius: 5px;
  -webkit-transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo:hover, .header__logo:focus {
  scale: 110%;
}

.header__image {
  fill: #FFFFFF;
  width: 65px;
  height: 15px;
}

.mobile-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.mobile-button__image {
  fill: #292C31;
  display: block;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-button:hover .mobile-button__image, .mobile-button:focus .mobile-button__image {
  fill: #16C7E4;
}

.mobile-button__close {
  display: none;
}
.mobile-button.is-open .mobile-button__close {
  display: block;
}

.mobile-button.is-open .mobile-button__open {
  display: none;
}

.navigation__link {
  color: #292C31;
  font-weight: 400;
  font-size: 24px;
  line-height: 0.958;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #16C7E4;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px;
  border: 1px solid #16C7E4;
  border-radius: 5px;
}

.social-links__image {
  fill: #5F6871;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover .social-links__image, .social-links__link:focus .social-links__image {
  fill: #16C7E4;
}

@media screen and (max-width: 1199px) {
  .header__mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 81px 79px 90px 79px;
    z-index: 100;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
  }
  .header__mobile-menu {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    opacity: 0;
    -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__mobile-menu.is-open {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .navigation__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .social-links {
    margin-top: 57px;
  }
}
@media screen and (min-width: 764px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__logo {
    padding: 21px 55px;
    border-radius: 10px;
  }
  .header__image {
    width: 73px;
    height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-button {
    display: none;
  }
  .header__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 127px;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 34px;
  }
  .navigation__link {
    color: #292C31;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.944;
  }
}
.hero {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#10203C), to(rgba(16, 33, 62, 0.92))), url(../images/hero/hero-bgc-tel.jpg), #182C4E;
  background: linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%), url(../images/hero/hero-bgc-tel.jpg), #182C4E;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 766px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 766px), screen and (min-resolution: 192dpi) and (max-width: 766px), screen and (min-resolution: 2dppx) and (max-width: 766px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#10203C), to(rgba(16, 33, 62, 0.92))), url(../images/hero/hero-bgc-tel@2x.jpg);
    background-image: linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%), url(../images/hero/hero-bgc-tel@2x.jpg);
  }
}
@media screen and (min-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#10203C), to(rgba(16, 33, 62, 0.92))), url(../images/hero/hero-bgc-tablet.jpg);
    background-image: linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%), url(../images/hero/hero-bgc-tablet.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#10203C), to(rgba(16, 33, 62, 0.92))), url(../images/hero/hero-bgc-tablet@2x.jpg);
    background-image: linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%), url(../images/hero/hero-bgc-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#10203C), to(rgba(16, 33, 62, 0.92))), url(../images/hero/hero-bgc-desktop.jpg);
    background-image: linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%), url(../images/hero/hero-bgc-desktop.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#10203C), to(rgba(16, 33, 62, 0.92))), url(../images/hero/hero-bgc-desktop@2x.jpg);
    background-image: linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%), url(../images/hero/hero-bgc-desktop@2x.jpg);
  }
}

.hero__container {
  position: relative;
  padding-top: 39px;
}

.hero__blur {
  position: absolute;
  display: inline-block;
  background-image: radial-gradient(50% 50% at 50% 50%, #16C7E4 0%, rgba(22, 199, 228, 0) 100%);
  background-repeat: no-repeat;
  -webkit-filter: blur(180px);
          filter: blur(180px);
}
@media screen and (max-width: 766px) {
  .hero__blur {
    width: 100%;
    height: 296px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (min-width: 767px) {
  .hero__blur {
    width: 371px;
    height: 371px;
    bottom: 60px;
    right: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__blur {
    width: 444px;
    height: 444px;
  }
}

.hero__title {
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 1.095;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero__title--neon {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.268;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 0 40px #16C7E4;
  color: #16C7E4;
}

.hero__text {
  margin-bottom: 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.hero__text--neon {
  color: #16C7E4;
}

.hero__button {
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  -webkit-box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
          box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
  border-radius: 5px;
  background-color: #16C7E4;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.388;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__wrap::before {
  content: "";
  position: absolute;
  background-image: url(../images/hero/hero-img-tel.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 766px) {
  .hero__wrap::before {
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 100%;
    height: 319px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 766px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 766px), screen and (min-resolution: 192dpi) and (max-width: 766px), screen and (min-resolution: 2dppx) and (max-width: 766px) {
  .hero__wrap::before {
    background-image: url(../images/hero/hero-img-tel@2x.png);
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero__wrap::before {
    bottom: 0;
  }
}
@media screen and (min-width: 767px) {
  .hero__wrap::before {
    height: 566px;
    width: 494px;
    right: 0;
    background-image: url(../images/hero/hero-img-tablet.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero__wrap::before {
    background-image: url(../images/hero/hero-img-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrap::before {
    bottom: 0;
    right: 0;
    width: 590px;
    height: 677px;
    background-image: url(../images/hero/hero-img-desktop.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__wrap::before {
    background-image: url(../images/hero/hero-img-desktop@2x.png);
  }
}

@media screen and (max-width: 766px) {
  .hero__button {
    width: 100%;
    margin-bottom: 29px;
  }
  .hero__wrap {
    height: 696px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero__container {
    height: 840px;
  }
}
@media screen and (min-width: 767px) {
  .hero__title {
    margin-bottom: 34px;
    font-size: 64px;
    line-height: 1.093;
  }
  .hero__title--neon {
    font-size: 74px;
    line-height: 1.216;
  }
  .hero__text {
    margin-bottom: 50px;
    width: 488px;
    font-size: 18px;
    line-height: 1.388;
  }
  .hero__button {
    padding-right: 54px;
    padding-left: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 117px;
    padding-bottom: 146px;
  }
}
.toward__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 767px) {
  .toward__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .toward__container {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.toward__title {
  margin-bottom: 20px;
}

.toward__item {
  position: relative;
  overflow: hidden;
  padding: 77px 20px 30px 20px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
}

.toward__number {
  position: absolute;
  top: 18px;
  left: 13px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.307;
  text-transform: lowercase;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media screen and (min-width: 767px) {
  .toward__number {
    top: 23px;
    left: 18px;
  }
}

.elipse::before {
  position: absolute;
  top: -117px;
  left: -102px;
  z-index: -1;
  content: "";
  display: block;
  width: 188px;
  height: 188px;
  border-radius: 50%;
  background-color: #16C7E4;
}
@media screen and (min-width: 767px) {
  .elipse::before {
    top: -80px;
    left: -90px;
  }
}

.toward__undertitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.277;
  color: #292C31;
}

.toward__about {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.312;
  color: #292C31;
}

@media screen and (max-width: 766px) {
  .toward__undertitle,
.toward__about {
    width: 89%;
  }
  .toward__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 767px) {
  .toward__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .toward__title {
    margin-bottom: 30px;
  }
  .toward__number {
    font-size: 34px;
    line-height: 1.294;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .toward__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }
  .toward__item {
    padding: 133px 20px 35px 20px;
    margin: 5px;
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .toward__list {
    margin: -10px;
  }
  .toward__item {
    padding: 140px 20px 30px 20px;
    margin: 10px;
    width: calc((100% - 80px) / 4);
  }
}
.services {
  background-color: #F5F8FD;
}

.services__container {
  padding-top: 45px;
  padding-bottom: 45px;
}

.services__title {
  margin-bottom: 20px;
}

.services__item {
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */