.footer {
    background-color: $footer-bgc-color;
        max-width: 1920px;
            margin-right: auto;
            margin-left: auto;

    & * {
        color: $primary-white-color;
    }
}

.footer__container {
    padding-top: 55px;
    padding-bottom: 75px;
}

.footer-services__title {
        margin-bottom: 20px;
        display: block;
}

.footer-services__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer-services__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.058;

        transition: color 250ms $cubic;
}

.footer-services__link:hover,
.footer-services__link:focus,
.footer-menu__link:hover,
.footer-menu__link:focus {
    color: $accent-color;
}


.footer-services__title,
.footer-menu__link,
.address__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.052;
    text-transform: uppercase;
    transition: color 250ms $cubic;
}



.footer-menu__item, .address__item:not(:last-child) {
    margin-bottom: 20px;
}

.address__text {
    margin-bottom: 20px;
}

.address__link {
    font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.062;
}

.footer__social-links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    border: 1px solid $primary-white-color;
        border-radius: 5px;

    transition: border 250ms $cubic;
    
        &:hover,
        &:focus {
            border: 1px solid $accent-color;
        }

}

.footer__social-links {
    justify-content: left;
}

.footer__social-links__item:not(:last-child) {
    margin-right: 9px;
}

.footer__social-links__image {
    width: 21px;
    height: 21px;
    fill: $primary-white-color;

    transition: fill 250ms $cubic;
    .footer__social-links__link:hover &,
    .footer__social-links__link:focus & {
        fill: $accent-color;
    }
}

//MAX-WIDTH 763PX
@media screen and (max-width:763px) {
    .footer__wrap--telnone {
        display: none;
    }

    .footer-services__list,
    .footer-menu,
    .address {
        margin-bottom: 30px;
    }

    .footer__social-links {
        justify-content: left;
        margin-bottom: 35px;
    }
}

//MIN-WIDTH 764PX
@media screen and (min-width:764px) {
    .footer__container {
        display: flex;
        flex-wrap: wrap;
            padding-top: 40px;
            padding-bottom: 60px;
        }

    .footer__wrap--tablnone {
        display: none;
    }

    .footer__logo {
        margin-bottom: 25px;
    }
}

//MIN-WIDTH 764PX--MAX-WIDTH 1199PX

@media screen and (min-width:764px) and (max-width:1199px) {
        .footer__container {
                flex-wrap: wrap;
            }

        .footer__wrap--telnone,
        .footer-menu {  
            margin-right: 172px; 
        }

        .footer-menu,
        .address {
            margin-top: 46px;
        }

        .footer-services {
            width: 303px;
        }

        .footer__wrap--telnone,
        .footer-menu {
            width: 186px;
        }
}

@media screen and (min-width:1200px) {
    .footer__container {
            padding-top: 49px;
            justify-content: space-between;
        }

    .footer-services,
    .address, 
    .footer-menu {
        margin-top: 15px;
    }
}