.contacts__container {
    padding-top: 25px;
    padding-bottom: 60px;
}

.contacts__title {
    margin-bottom: 25px;
}

.contacts__item:not(:last-child) {
    margin-bottom: 25px;
}

.contacts__link {
    display: flex;
    align-items: center;

        font-weight: 400;
        font-size: 18px;
        line-height: 1.058;

        color: $primary-text-color;
}

.contacts__svg {
    margin-right: 15px;
    width: 16px;
    height: 16px;

    @media screen and (min-width:764px) {
        width: 20px;
        height:20px;
    }
}

.contacts-form__container {
        padding: 30px 20px 34px;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        background-color: $primary-white-color;
        
}

.contacts-form__title {
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.409;
    text-transform: uppercase;
}

.contacts-form__about {
    margin-bottom: 27px;

        font-weight: 300;
        font-size: 16px;
        line-height: 1.375;
        color: $secondary-text-color;
}

.contacts-form__input {
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 19px;
    width: 100%;

    background-color: transparent;
    border: 1px solid #E8E8E8;
    border-radius: 5px;

    &::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.388;
        color: grey;
    }
}

.contacts-form__button {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.428;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: $accent-color;
    border: none;
    cursor: pointer;

    transition: box-shadow 250ms $cubic;

    &:hover,
    &:focus {
        box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
    }
}
.contacts {
    position: relative;
}

.contacts__container {
    position: relative;
}

.contacts__container::before {
    position: absolute;
    z-index: -1;
    top: 188px;
    right: 50%;
    transform: translateX(50%);
    content: '';
    display: block;
    background-image: url(../images/contacts/contacts-tel.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 382px;

    @media screen and (min-device-pixel-ratio: 2) and (max-width:763px),
        screen and (min-resolution: 192dpi) and (max-width:763px),
        screen and (min-resolution: 2dppx) and (max-width:763px) {
            background-image:
                url(../images/contacts/contacts-tel@2x.png);
                background-size: cover;
}

    @media screen and (min-width:764px) {
        background-image: url(../images/contacts/contacts-tabl.png);
        width: 451px;
        height: 517px;
        right: 230px;
        top: 0;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/contacts/contacts-tabl@2x.png);
                background-size: cover;
            }
    }

    @media screen and (min-width:1200px) {
        background-image: url(../images/contacts/contacts-desktop.png);
                width: 489px;
                    height: 561px;
                    right: 760px;
                    bottom: -75px;
                    top: auto;
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/contacts/contacts-desktop@2x.png);
                background-size: cover;
            }
    }
}

.contacts__blur {
    position: absolute;
    content: '';
    display: inline-block;
    background-image: radial-gradient(50% 50% at 50% 50%, #16C7E4 0%, rgba(22, 199, 228, 0) 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    left: 50%;
    top: 200px;
    z-index: -100;
        transform: translateX(-50%);
        filter: blur(100px);
    @media screen and (min-width:764px) {
    width: 400px;
        height: 400px;
        left:520px;
        top: 140px;
        
    }

    @media screen and (min-width:1200px) {
            width: 500px;
                height: 500px;
                left: 450px;
                top: auto;
                bottom: -60px;
                
    }
    
    
}


@media screen and (max-width:763px) {

    .social-links__title,
    .contacts__social-links {
        display: none;
    }

    .contacts-form__input {
        margin-bottom: 9px;
    }

        .contacts-form__container {
            margin-top: 229px;
        }

}

@media screen and (min-width:764px) {
    .contacts__container {
            padding-top: 30px;
        }

    .contacts__title {
        margin-bottom: 30px;
    }

    .contacts__list {
        margin-bottom: 36px;
    }

    .contacts__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .contacts__link {
        font-size: 24px;
            line-height: 1.043;
    }

    .social-links__title {
        margin-bottom: 12px;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.416;
    }

    .contacts__social-links {
        justify-content: left;
    }

    .contacts__social-links__item:not(:last-child) {
        margin-right: 10px;
    }

    .contacts__social-links__link {
        display: flex;
        padding: 11px;

        border: 1px solid $accent-color;
        border-radius: 5px;
    }

    .contacts__social-links__image {
        fill: #5F6871;
        width: 24px;
        height: 24px;

        transition: fill 250ms $cubic;

        .social-links__link:hover &,
        .social-links__link:focus & {
            fill: $accent-color;
        }
    }

    .contacts-form__container {
        padding: 45px 30px 43px;
    }

    .contacts-form__title {
        font-size: 32px;
            line-height: 1.406;
    }

    .contacts-form__about {
        font-size: 18px;
            line-height: 1.388;
    }

    .contacts-form__wrap {
        display: flex;
        margin-bottom: 20px;
    }

    .contacts-form__input:not(:last-child) {
        margin-right: 10px;
    }
}

@media screen and (min-width:764px) and (max-width:1199px) {
    .contacts-form__container {
            margin-top: 63px;
    }
}

@media screen and (min-width:1200px) {
        .contacts__container {
                padding-bottom: 214px;
            }

    .contacts__wrap {
        display: flex;
        justify-content: space-between;
    }

    .contacts-form__container {
        width: 590px;
    }

    .contacts-form__input:not(:last-child) {
        margin-right: 20px;
    }
}

