body {
    font-family: 'Gotham Pro',sans-serif;
    background-color: $primary-white-color;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
button,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}