$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$primary-white-color: #FFFFFF;
$primary-text-color:#292C31;
$secondary-text-color: #5B5B5B;
$accent-color:#16C7E4;
$grey-bgc-color: #F5F8FD;
$footer-bgc-color: #182C4E;

