.about {
    background-color: $grey-bgc-color;
        max-width: 1920px;
            margin-right: auto;
            margin-left: auto;
}

.about__container {
    padding-top: 55px;
    padding-bottom: 55px;
}

.about__picture {
    border-radius: 6px;
}

.about__title {
    margin-bottom: 10px;
}

.about__undertitle--wrap {
    padding: 21px 20px;
    border: 1px dashed $accent-color;
        border-radius: 5px;
}



.about__text, .about__undertitle, .about__item {
    font-weight: 300;
        font-size: 18px;
        line-height: 1.388;
}

.about__undertitle {
    font-weight: 700;
    &--accent {
        color: $accent-color;
    }
}

.about__list {
    padding-left: 20px;
}

.about__item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &--bold {
        font-weight: 700;
    }
}

.about__item::before {
    position: absolute;
    left: -20px;
    top: 6px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $accent-color;
}

// MAX-WIDTH 763px 
@media screen and (max-width:763px) {
    .about__picture {
            margin-bottom: 27px;
        }

    .about__undertitle--wrap {
        margin-bottom: 20px;
    }
}

// MIN-WIDTH 764PX 
@media screen and (min-width:764px) {
    .about__container {
            padding-top: 65px;
            padding-bottom: 63px;
        }

    .about__title {
        margin-bottom: 13px;
    }

    .about__list {
        padding-left: 30px;
    }

    .about__item:not(:last-child) {
        margin-bottom: 25px;
    }

    .about__item::before {
        left: -25px;
        top: 4px;

        width: 14px;
        height: 14px;
    }
}

//MIN-WIDTH 764px--MAX-WIDTH 1199px
@media screen and (min-width:764px) and (max-width:1199px) {
    .about__container {
        position: relative;
    }

    .about__picture {
        margin-bottom: 31px;
    }

    .about__wrap--right {
        position: absolute;
        left: 387px;
        top: 65px;
    }

        .about__undertitle--wrap {
                width: 347px;
            }

        .about__wrap {
            display: flex;
            margin-bottom: 31px;
        }
}

//MIN-WIDTH 1200px 
@media screen and(min-width:1200px) {

    .about__picture {
            margin-right: 70px;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        }

    .about__title {
            margin-bottom: 5px;
        }
        .about__container {
            display: flex;
        }
    .about__wrap--desktop {
        width: 650px;
        max-height: 630px;
    }

    .about__undertitle--wrap {
            padding: 19px 20px; 
            margin-bottom: 30px;
        }
}