.hero {
    position: relative;
    background:
    linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%, ),
    url(../images/hero/hero-bgc-tel.jpg), #182C4E;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

    @media screen and (min-device-pixel-ratio: 2) and (max-width:763px),
    screen and (min-resolution: 192dpi) and (max-width:763px),
    screen and (min-resolution: 2dppx) and (max-width:763px) {
        background-image: 
        linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%),
            url(../images/hero/hero-bgc-tel@2x.jpg);
    }

    @media screen and (min-width:764px) {
        background-image:
                linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%),
                url(../images/hero/hero-bgc-tablet.jpg);
                background-size:cover;
                background-position:center;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width:764px),
    screen and (min-resolution: 192dpi) and (min-width:764px),
    screen and (min-resolution: 2dppx) and (min-width:764px) {
        background-image:
        linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%),
        url(../images/hero/hero-bgc-tablet@2x.jpg);
        
    }

    @media screen and (min-width:1200px) {
        background-image:
            linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%),
            url(../images/hero/hero-bgc-desktop.jpg);
        background-size: cover;
        background-position: center;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
    screen and (min-resolution: 192dpi) and (min-width:1200px),
    screen and (min-resolution: 2dppx) and (min-width:1200px) {
        background-image:
            linear-gradient(180deg, #10203C 0%, rgba(16, 33, 62, 0.92) 100%),
            url(../images/hero/hero-bgc-desktop@2x.jpg);
    } 
}
.hero__container {
    position: relative;
    padding-top: 39px;
}

.hero__blur {
    position: absolute;
    display: inline-block;
    background-image: radial-gradient(50% 50% at 50% 50%, #16C7E4 0%, rgba(22, 199, 228, 0) 100%);
    background-repeat: no-repeat;
    filter:blur(180px);

    @media screen and (max-width:763px) {
            width: 100%;
            height: 296px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
    }

    @media screen and (min-width:764px) {
        width: 371px;
        height: 371px;
        bottom: 60px;
        right: 76px;
    }
    
    @media screen and (min-width:1200px) {
        width: 444px;
        height: 444px;
    }
}



.hero__title {
        margin-bottom: 20px;
        display: inline-block;

        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 42px;
        line-height: 1.095;
        text-transform: uppercase;
    
        color: $primary-white-color;

        &--neon {
            margin-bottom: 10px;

            font-weight: 700;
            line-height: 1.268;
            text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25)), 0 0 40px $accent-color;
            color: $accent-color;
        }
}

.hero__text {
        margin-bottom: 43px;

        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.375;
        color: #FFFFFF;

        &--neon {
            color: $accent-color;
        }
}

.hero__button {
        padding-top: 18px;
        padding-bottom: 18px;

        border: none;
        
        border-radius: 5px;
        background-color: $accent-color;

        font-weight: 700;
        font-size: 18px;
        line-height: 1.388;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        
        transition: box-shadow 250ms $cubic;
        &:hover, 
        &:focus {
            box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
        }
}


.hero__wrap::before {
    content: '';
    position: absolute;

    background-image: url(../images/hero/hero-img-tel.png);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width:763px) {
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        width: 100%;
        height: 319px;
        margin-right: auto;
        margin-left: auto;
        background-position: center;
    }
    @media screen and (min-device-pixel-ratio: 2) and (max-width:763px),
        screen and (min-resolution: 192dpi) and (max-width:763px),
        screen and (min-resolution: 2dppx) and (max-width:763px) {
            background-image:
                url(../images/hero/hero-img-tel@2x.png);
        }

    @media screen and (min-width:764px) and (max-width:1199px) {
        bottom: 0;
    }

    @media screen and (min-width:764px) {
        height: 566px;
        width: 494px;
        
        right: 0;
        background-image:url(../images/hero/hero-img-tablet.png);
        }

    @media screen and (min-device-pixel-ratio: 2) and (min-width:764px),
    screen and (min-resolution: 192dpi) and (min-width:764px),
    screen and (min-resolution: 2dppx) and (min-width:764px) {
        background-image: url(../images/hero/hero-img-tablet@2x.png); 
    }

    @media screen and (min-width:1200px) {
        bottom: 0;
        right: 0;
        width: 590px;;
        height: 677px;


        background-image: url(../images/hero/hero-img-desktop.png);
        
        
        
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
    screen and (min-resolution: 192dpi) and (min-width:1200px),
    screen and (min-resolution: 2dppx) and (min-width:1200px) {
        background-image: url(../images/hero/hero-img-desktop@2x.png);
    }
}

//MAX-WIDTH 763px 

@media screen and (max-width:763px) {
    .hero__button {
        width: 100%;
        margin-bottom: 29px;
    }

    .hero__wrap {
        height: 696px;
    }
}

//MIN-WIDTH 764px MAX-WIDTH 1199PX
@media screen and (min-width:764px) and (max-width:1199px) {
    .hero__container {
        height: 840px;
    }
}

//MIN-WIDTH 764px 
@media screen and (min-width:764px) {
    
    .hero__title {
        margin-bottom: 34px;
            font-size: 64px;
            line-height: 1.093;

            &--neon {
                font-size: 74px;
                line-height: 1.216;
            }
    }

    .hero__text {
        margin-bottom: 50px;
        width: 488px;
        font-size: 18px;
        line-height: 1.388;
    }

    .hero__button {
        padding-right: 54px;
        padding-left: 54px;
    }
}

//MIN-WIDTH 1200PX 
@media screen and (min-width:1200px) {
    .hero__container {
        padding-top: 117px;
        padding-bottom: 146px;
    }
}







