.reviews {
    background-color: $grey-bgc-color;
        max-width: 1920px;
            margin-right: auto;
            margin-left: auto;
}

.reviews__container {
    padding-top: 44px;
    padding-bottom: 33px;
}

.reviews-video {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 183px;
    margin-bottom: 20px;
    border-radius: 5px;

    background-image: url(../images/reviews/reviews-video-tel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        @media screen and (min-device-pixel-ratio: 2) and (max-width:763px),
            screen and (min-resolution: 192dpi) and (max-width:763px),
            screen and (min-resolution: 2dppx) and (max-width:763px) {
            background-image: url(../images/reviews/reviews-video-tel@2x.jpg);
            background-size: contain;
            }

    @media screen and (min-width:764px) {
        height: 380px;
        background-image: url(../images/reviews/reviews-video-tablet.jpg);
            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image: url(../images/reviews/reviews-video-tablet@2x.jpg);
                    background-size: contain;
                        }
    }

    @media screen and (min-width:1200px) {
        height: 435px;
        width: 895px;
            background-image: url(../images/reviews/reviews-video-desktop.jpg);

            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image: url(../images/reviews/reviews-video-desktop@2x.jpg);
                    background-size: contain;
                }
    }
}

.reviews-video__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: $accent-color;
    border: none;
    cursor: pointer;

    transition: box-shadow 250ms $cubic;
    &:hover,
    &:focus {
    box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
    }
}

.reviews-video__image {
    width: 24px;
    height: 24px;
}

.reviews__wrap {
    padding: 24px 20px 29px 20px;

    background-color: $primary-white-color;
    border-radius: 5px;
}

.reviews__undertitle {
    margin-bottom: 5px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
}

.reviews__about {
    margin-bottom: 20px;

        font-weight: 300;
        font-size: 16px;
        line-height: 1.375;
    
        color: $secondary-text-color;
}

.reviews__text--bold {
    margin-bottom: 15px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.375;
}

.reviews__text  {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.312;
    
        color: $secondary-text-color;
}

.reviews__list {
    display: flex;
    justify-content: center;
}
@media screen and (max-width:763px) {
    .reviews__list--tablet {
            display: none;
        }

    .reviews__title {
        margin-bottom: 20px;
        max-width: 333px;
    }

        .reviews__list {
            margin-top: 20px;
        }
}


//MEDIA MIN-WIDTH 764PX 
@media screen and (min-width:764px) {

    .reviews__container {
            padding-top: 75px;
            padding-bottom: 75px;
        }
    .reviews__list--tel {
        display: none;
    }

    .reviews__wrap--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .reviews-video {
        margin-bottom: 10px;
    }
    
    .reviews-video__button {
        width: 68px;
        height: 68px;
    }

    .reviews-video__image {
        width: 32px;
        height: 32px;
    }

    .reviews__wrap {
        padding: 19px 20px 29px 26px;
    }

    .reviews__undertitle {
        font-size: 24px;
        line-height: 1.416;
    }

}

//MEDIA MAX-WIDTH 1199PX
@media screen and (min-width:764px) and (max-width:1199px) {
    .reviews__title {
            width: 527px;
        }

    .reviews__about {
        width: 260px;
    }
}


//MEDIA MIN-WIDTH 1200PX
@media screen and (min-width:1200px) {
        .reviews__container {
                padding-top: 60px;
                padding-bottom: 60px;
            }

            .reviews__wrap--top {
                margin-bottom: 35px;
            }
            
            .reviews__wrap--desktop {
                display: flex;
            }

            .reviews__wrap {
                padding: 31px 20px 52px 20px;
                width: 285px;
            }

            .reviews-video {
                margin-bottom: 0;
                margin-right: 19px;
            }
        }



