.services {
    background-color: $grey-bgc-color;
}

.services__container {
    padding-top: 45px;
    padding-bottom: 45px;
}

.services__title {
    margin-bottom: 20px;
}

.services__item {
    background-color: $primary-white-color;
    border-radius: 5px;
    overflow: hidden;
}
