.services {
    background-color: $grey-bgc-color;
        max-width: 1920px;
            margin-right: auto;
            margin-left: auto;
}

.services__container {
    padding-top: 45px;
    padding-bottom: 45px;

    @media screen and (min-width:764px) {
    padding-top: 57px;
    padding-bottom: 52px;
    }
}

.services__title {
    margin-bottom: 20px;

}

.services__item {
    background-color: $primary-white-color;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    transition: box-shadow 250ms $cubic;



    &:hover {
        box-shadow: 0px -4px 25px rgba(22, 199, 228, 0.4);
    }
}
.services-card__wrap {
            padding: 20px 20px 25px 20px;
}



.services-card__title {
    margin-bottom: 20px;

        font-weight: 400;
        font-size: 20px;
        line-height: 1.3;   

        transition: color 250ms $cubic;

        .services__item:hover & {
            color: $accent-color;
        }
}

.services-card__about {
    flex-grow: 1;
    margin-bottom: 20px;
    font-weight: 300;
        font-size: 16px;
        line-height: 1.312;
    color: $secondary-text-color;

}

.services-card__link, 
.services-card__button {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.375;
    text-transform: uppercase;
    border-radius: 5px;
}

.services-card__link {
    display: block;

    margin-bottom: 15px;


        color: $accent-color;
        text-align: center;
        background-color: transparent;
            border: 1px solid $accent-color;

        transition: all 250ms $cubic;

    &:hover, 
    &:focus {
        box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
        color: $primary-white-color;
        background-color: $accent-color;
    }
}

.services-card__button {
    width: 100%;
    background-color: $accent-color;
        border: 1px solid $accent-color;
        color: $primary-white-color;
    cursor: pointer;

    transition: box-shadow 250ms $cubic;

    &:hover,
    &:focus {
        box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
    }
}

.services-card {
    height: 100%;
}
//MEDIA MAX-WIDTH 763PX
@media screen and (max-width:763px) {
    .services__item:not(:last-child) {
        margin-bottom: 10px ;
    }
}

//MEDIA MIN-WIDTH 764PX
@media screen and(min-width:764px) {
    .services__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -5px;
    }
    .services__item {
        margin: 5px;
        width: calc((100% - 10px * 2) / 2);
    }
    .services-card__title {
        font-size: 24px;
        line-height: 1.291;
    }

    .services-card__wrap {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        min-height: 467px;
        padding: 30px 20px 39px 20px;
    }
    .services-card__wrap--small {
        min-height: 405px;
    }

}

//MEDIA MIN-WIDTH 1200PX
@media screen and (min-width:1200px) {
        .services__list {
                margin: -10px;
            }

        .services__item {
            margin: 10px;
            width: calc((100% - 20px * 3) / 3);
        }

        .services-card__wrap--short {
            min-height: 381px;
        }

        .services-card__title {
            font-size: 26px;
            line-height: 1.307;
            margin-bottom: 30px;
        }
}